/*! Section: Preferences */

:root {
  --main-width: 72ch;

  --margin-1: 8px;
  --margin-2: 12px;
  --margin-3: 16px;
  --margin-4: 48px;

  --border-radius: 4px;
}

:lang(en) {
  --figure-label: "Figure";
  --table-label: "Table";
}

:lang(pt) {
  --figure-label: "Figura";
  --table-label: "Tabela";
}

/*! Section: Boxes */

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/*! Section: Layout */

body {
  margin: 0;
  padding: 0;
}

main {
  width: var(--main-width);
  margin: 4rem auto;
}

/*! Section: Typography */

:root {
  font:
    normal 100%/1.5 "Noto Sans",
    "Noto Sans Math",
    "Noto Emoji",
    sans-serif;
  text-rendering: optimizeLegibility;

  color: #2e3440;
  background: #fff;
}

body {
  font: inherit;
}

p:first-child {
  margin-top: 0;
}

a {
  color: #3366cc;
  text-decoration: unset;
}

a:hover {
  text-decoration: underline;
}

article {
  hyphens: auto;
}

sup,
sub {
  line-height: 0;
}

code,
kbd,
pre,
samp,
tt,
var {
  font:
    normal 100%/1.5 "Noto Sans Mono",
    "Noto Emoji",
    monospace;
}

small,
sub,
sup {
  font-size: smaller;
}

dt,
figcaption::before,
table caption::before {
  font-style: normal;
  font-weight: bolder;
}

/*! Section: Headings */

h1,
h2,
h3,
h4 {
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

/*! Section: Lists */

ul {
  list-style: "→";
}

ol,
ul {
  padding-left: 4ch;
}

ol ol,
ol ul,
ul ol,
ul ul {
  padding-left: 2ch;
}

ol li,
ul li {
  padding-left: 1ch;
}

ol li::marker,
ul li::marker {
  font-weight: bolder;
}

/*! Section: Definitions */

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

dt:not(:first-child),
dt:not(:first-child) + dd {
  margin-top: 1ex;
}

/*! Section: Quotes */

blockquote {
  font-style: italic;
  margin: auto 5ch;
}

blockquote em {
  font-style: normal;
}

/*! Section: Misc  */

code,
embed,
img,
object,
pre,
svg,
video {
  border-radius: var(--border-radius);
}

/*! Section: Code */

pre {
  margin: 1rlh -12ch;

  white-space: pre-wrap;
  hyphens: none;

  text-align: initial;

  code {
    border-radius: 0;

    .co,
    .in {
      font-style: italic;
    }

    .kw,
    .cf {
      color: #3366cc;
    }
  }
}

/*! Section: Figures */

img,
figure {
  display: block;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;

  object-fit: cover;
}

/*! Section: Tables */

table {
  max-width: 80%;

  margin-left: auto;
  margin-right: auto;

  border-collapse: collapse;

  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

table thead {
  border-bottom: 1px solid currentColor;
}

table th,
table td {
  padding: 0.5ex 1ch;
}

table tr + tr td,
table tr + tr th {
  padding-top: 0;
}

/*! Section: Captions */

article {
  counter-reset: table figure;
}

figure {
  counter-increment: figure;
}

table {
  counter-increment: table;
}

table caption,
figure figcaption {
  margin: var(--margin-2);
  text-align: center;
}

table caption::before {
  content: var(--table-label) " " counter(table) ". ";
}

figure figcaption::before {
  content: var(--figure-label) " " counter(figure) ". ";
}

/*! Section: Notes */

article::after {
  display: block;
  content: "";

  clear: both;
}

article aside,
article .aside {
  font-size: smaller;

  width: 45%;
  margin-right: -50%;

  float: right;
  clear: right;

  margin-top: -2rlh;
  margin-bottom: 3rlh;

  padding: 1ch 2ch;

  background: #f8fafc;
  border-radius: 8px;

  :last-child {
    margin-bottom: 0;
  }

  &.danger {
    background: #fbeff3;
  }

  &.info {
    background: #eff6fb;
  }
}

/*! Section: Footer */

nav {
  font-size: smaller;

  text-align: right;
  margin-top: var(--margin-4);
}

/*! Section: Utilities and Hacks */

.break-all {
  word-break: break-all;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-8 {
  margin-top: 8rem;
}
